.heading{
  display: flex;
  justify-content: center;
  background-color: #c21e3b;
  color: white;
 
}
.container{
  display: flex;
  justify-content: center;
}
body{
  background-color:#f2be01 ;
  color: white;
}

.btn {

  display: flex;

 justify-content: space-evenly;

}
.array {
  border-radius: 50%;

  background-color: #254c9b;

  color: #fff;

  padding: 20px;
  font-size: 20px;

  border: none;

  text-transform: uppercase;
  

}
.below{
  margin-top: 40px;
}
.bots{
 display: flex;
 justify-content: center;
  
}
h4{
  margin-left: 300px;
  margin-right: 300px;
}
.delete{
  margin-top: 40px;
  padding: 10px;
  font-size: 20px;
  
 
}
button{
  background-color: #c21e3b;

  color: #fff;

  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}